<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Backend</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>

<div id="slogan">
  <h2 class='normal'>Scented Whispers of <span class="fancy">Luxury</span></h2>
  <h2 class='normal'><%= name %><span class="fancy">Signature</span> Aesthetic</h2>
</div>

<!-- font family -->
<link href="https://api.fontshare.com/v2/css?f[]=melodrama@400,600,700,1,500&f[]=plus-jakarta-sans@800,401,501,400,601,500,600,700,701&display=swap" rel="stylesheet">
    
</body>
</html>