<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>hello from home page</h1>
    <p>Basically in this file i have learned about how to create a app from express generator so this file is of no use as such but we will be coming it later to explore something on it.</p>
</body>
</html>